.btn:focus {
  outline: none;
}

.fancy-shadow {
  text-shadow: 1px 1px #ada4a4;
}

/*************/
/* ALERT MSG */
/*************/

.alert {
  font-weight: bold;
  width: 100%;
  position: absolute;
  top: 50%;
  text-align: center;
}

/*************/
/* MAIN MENU */
/*************/

#main-menu {
  display: none;
  font-family: 'Press Start 2P', cursive;
}

#main-menu-header h1 {
  text-align: center;
}

#main-menu-header img {
  border-radius: 3px;
  box-shadow: 0px 2px 20px rgba(78,78,78,0.63);
  display: block;
  margin: 20px auto;
  width: 70%;
  max-width: 800px;
}

#main-menu-options {
  text-align: center;
}

#main-menu-player-name {
  height: 50px;
  width: 70%;
  margin: 10px auto;
  text-align: center;
}

#new-game-box {
  display: none;
}

.btn-main-menu {
  background-color: #333;
  color: #fff;
  transition: 0.5s;
}

.btn-main-menu:hover {
  border-color: #5ba3ce;
  box-shadow: 2px 2px 10px #4e4e4e;
  background-color: #5ba3ce;
  color: #fff;
  transition: 0.5s;
}

.btn-main-menu:focus {
  background-color: #333;
  color: #fff;
  transition: 0.5s;
}

.btn-icon {
  width: 50px;
}

/***************/
/* BATTLE MENU */
/***************/

#battle-screen {
  display: block;
  margin-top: 20px;
  font-family: 'Press Start 2P', cursive;
}

.battle-screen-character-box {
  display: inline-block;
  width: 49%;
  height: 230px;
  outline: 1px solid green;
  margin: 0 auto;
}

#battlefield {
  outline: 1px solid blue;
  height: 300px;
}

#battle-alert {
  padding: 5px;
  width: 80%;
  height: 50px;
  outline: 1px solid purple;
  margin: 0 auto;
  text-align: center;
}

#battle-menu {
  outline: 1px solid red;
  height: 200px;
  padding: 10px;
}

.battle-menu-row {
  text-align: center;
}

.btn-battle {
  background-color: #333;
  color: #fff;
  transition: 0.5s;
  width: 200px;
}

.btn-battle:hover {
  border-color: #5ba3ce;
  box-shadow: 2px 2px 10px #4e4e4e;
  background-color: #5ba3ce;
  color: #fff;
  transition: 0.5s;
}

#attack-icon {
  background-image: url("../img/attack-icon.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

#attack-icon:hover {
  background-image: url("../img/attack-icon-hover.png");
}

/* Responsive Styles */
@media screen and (max-width: 995px) {
  #main-menu-header img {
    width: 90%;
  }
}

@media screen and (max-width: 550px) {
  #main-menu-header h1 {
    font-size: 1.5em;
  }

  .btn-main-menu {
    margin: 10px auto;
    display: block;
    width: 90%;
  }
}
